---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">
				INSTALACIÓN DE AIRES ACONDICIONADOS</h1>
			<p class="hero__text">
				Confía en Nosotros para todos tus servicios de refrigeración del hogar.
				Ofrecemos reparación, mantenimiento e instalación de equipos de refrigeración con personal altamente capacitado. ¡Mantén tu hogar fresco y eficiente con nuestros expertos!
			</p>
			<Boton href="https://calendar.app.google/nUeud7iUAYa4HoMf6" texto="Reserva una cita"/>
		</div>
    <img
		class="hero__img"
		src="/img/portada-1.webp"
		alt="claudio luxen"
		width="384"
    	height="384"
	/>
	</div>
</section>
