---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		
		<img
			class="about__img"
			src="/img/about-aireacondicionado.jpeg"
			alt="refrigeración del hogar, reparación de refrigeradores, mantenimiento de refrigeración, instalación de equipos de refrigeración, servicio técnico de refrigeración, aire acondicionado, técnicos de refrigeración"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre nosotros" />
			<p class="about__text">
				Te ofrecemos un servicio técnico de reparación, mantenimiento e instalación de equipos de refrigeración de alta calidad. Nuestro equipo de profesionales altamente capacitados se dedica a garantizar el óptimo funcionamiento de tus sistemas de refrigeración, asegurando un ambiente fresco y eficiente en tu hogar o negocio.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
